Repository enifsieus/vulndb: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyupgrade, reorder-python-imports, black, flake8, poetry-check, mypy

pyupgrade:
  name: pyupgrade
  entry: poetry run pyupgrade --py38-plus
  require_serial: true
  language: system

reorder-python-imports:
  name: reorder-python-imports
  entry: poetry run reorder-python-imports --application-directories src:tests --py38-plus
  require_serial: true
  language: system

black:
  name: black
  entry: poetry run black
  require_serial: true
  language: system

flake8:
  name: flake8
  entry: poetry run flake8
  language: system

poetry-check:
  name: poetry check
  entry: poetry check
  language: system
  pass_filenames: false

mypy:
  name: mypy
  entry: poetry run mypy
  language: system

Convert to pydantic 2.1
  poetry.lock
  pyproject.toml
  src/bomsquad/vulndb/config.py
  src/bomsquad/vulndb/model/cvss20.py
  src/bomsquad/vulndb/model/cvss30.py
  src/bomsquad/vulndb/model/cvss31.py
Due: pyupgrade, reorder-python-imports, black, flake8, poetry-check, mypy

Experimental lookup for versioned and un-versioned PURLs
  README.md
  poetry.lock
  pyproject.toml
  src/bomsquad/vulndb/cli/ingest.py
  src/bomsquad/vulndb/cli/purl.py
  src/bomsquad/vulndb/cli/vulndb.py
  src/bomsquad/vulndb/db/osvdb.py
  src/bomsquad/vulndb/matcher/factory.py
  src/bomsquad/vulndb/matcher/purl.py
  src/bomsquad/vulndb/model/spec.py
Due: pyupgrade, reorder-python-imports, black, flake8, poetry-check, mypy

Update with pydantic 2 explicit initializers for Optional fields.
  src/bomsquad/vulndb/__init__.py
  src/bomsquad/vulndb/model/cpe.py
  src/bomsquad/vulndb/model/cve.py
  src/bomsquad/vulndb/model/openssf.py
Due: pyupgrade, reorder-python-imports, black, flake8, mypy

Data cleanup and support for incremental ingestion
  .flake8
  config.toml
  db/create.sql
  poetry.lock
  pyproject.toml
  src/bomsquad/vulndb/cli/ingest.py
  src/bomsquad/vulndb/client/nvd.py
  src/bomsquad/vulndb/config.py
  src/bomsquad/vulndb/db/client.py
  src/bomsquad/vulndb/db/error.py
  src/bomsquad/vulndb/db/ingest.py
  src/bomsquad/vulndb/db/nvddb.py
  src/bomsquad/vulndb/db/osvdb.py
  src/bomsquad/vulndb/db/query.py
  tests/__init__.py
  tests/integration/__init__.py
  tests/integration/conftest.py
  tests/integration/data/__init__.py
  tests/integration/data/test_nvd.py
  tests/integration/data/test_osv.py
  tests/py.typed
Due: pyupgrade, reorder-python-imports, black, flake8, poetry-check, mypy

Add CLI command to find affected PURLs for a given CVE id + supporting queries
  src/bomsquad/vulndb/cli/cve.py
  src/bomsquad/vulndb/cli/vulndb.py
  src/bomsquad/vulndb/db/osvdb.py
  src/bomsquad/vulndb/matcher/factory.py
Due: pyupgrade, reorder-python-imports, black, flake8, mypy

Add CLI command to find affected PURLs for a given CVE id + supporting queries
  README.md
  src/bomsquad/vulndb/cli/cve.py
  src/bomsquad/vulndb/cli/vulndb.py
  src/bomsquad/vulndb/db/osvdb.py
  src/bomsquad/vulndb/matcher/factory.py
Due: pyupgrade, reorder-python-imports, black, flake8, mypy

Set python-version for 3.10 (targeting ubuntu jammy/debian bookworm), and update dependency lock.
  .python-version
  poetry.lock
Due: none

Update CLI documentation to cover affected-purls, nits.
  README.md
Due: none

Generate slightly more compatible version spec strings.
  src/bomsquad/vulndb/matcher/factory.py
Due: pyupgrade, reorder-python-imports, black, flake8, mypy

Create a view abstraction for complex queries that can be leveraged across frontends.
  src/bomsquad/vulndb/cli/cve.py
  src/bomsquad/vulndb/cli/purl.py
  src/bomsquad/vulndb/model/cve.py
  src/bomsquad/vulndb/view/__init__.py
  src/bomsquad/vulndb/view/affected_purls.py
  src/bomsquad/vulndb/view/purl_vulnerabilities.py
Due: pyupgrade, reorder-python-imports, black, flake8, mypy

Create module singleton instances for the database APIs
  src/bomsquad/vulndb/db/ingest.py
  src/bomsquad/vulndb/db/nvddb.py
  src/bomsquad/vulndb/db/osvdb.py
Due: pyupgrade, reorder-python-imports, black, flake8, mypy

Flask interface to Return machine-readable results (e.g. CVE object); Support CycloneDX interfaces - add vulnerability objects to a CycloneDX SBOM
  src/__init__.py
  src/bomsquad/__init__.py
  src/bomsquad/vulndb/db/osvdb.py
  src/bomsquad/vulndb/interface/0xERR0R_blocky_syft_cyclonedx.json
  src/bomsquad/vulndb/interface/__init__.py
  src/bomsquad/vulndb/interface/server.py
  src/bomsquad/vulndb/interface/test_get.py
  src/bomsquad/vulndb/interface/test_post.py
  src/bomsquad/vulndb/matcher/factory.py
  src/bomsquad/vulndb/view/purl_vulnerabilities.py
Due: pyupgrade, reorder-python-imports, black, flake8, mypy

Use https-only api to pull OSV ecosystems rather than gcloud.
  poetry.lock
  pyproject.toml
  src/bomsquad/vulndb/client/osv.py
Due: pyupgrade, reorder-python-imports, black, flake8, poetry-check, mypy

fix conflict after rebase
  src/bomsquad/vulndb/db/osvdb.py
  src/bomsquad/vulndb/interface/server.py
Due: pyupgrade, reorder-python-imports, black, flake8, mypy

Add CLI support for CycloneDX interfaces.
  src/bomsquad/vulndb/cli/purl.py
  src/bomsquad/vulndb/interface/server.py
Due: pyupgrade, reorder-python-imports, black, flake8, mypy

adding fastapi server and add it to the vulndb command line
  examples.md
  poetry.lock
  pyproject.toml
  src/bomsquad/vulndb/cli/purl.py
  src/bomsquad/vulndb/cli/server.py
  src/bomsquad/vulndb/cli/vulndb.py
Due: pyupgrade, reorder-python-imports, black, flake8, poetry-check, mypy

Path conditions:
  pyupgrade: any of: \.py$, but not: scraper_backend.js
  reorder-python-imports: any of: \.py$, but not: scraper_backend.js
  black: any of: \.py$, but not: scraper_backend.js
  flake8: any of: \.py$, but not: scraper_backend.js
  poetry-check: any of: pyproject.toml, but not: scraper_backend.js
  mypy: any of: \.py$, but not: scraper_backend.js
